<div class="container">
    {{#each users}}
        <a href="/respond-page?UId={{this._id}}&PId={{this.postId}}" class="list-group-item">
            <img src="{{this.img}}" class="search-img">
            <h4>{{this.username}}</h4>
            <p class="list-group-item-text"></p>
                <h5>Correct answer: {{this.status}}</h5>
                <h6>{{this.specialty}}</h6>
                <h6>City: {{this.city}} University:{{this.university}}</h6>
            </p>
        </a>
    {{/each}}
</div>